.cardTime {
    background-color: white;
    border-radius: 14px;
    border: solid transparent;
    border-width: 0 0 0 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 150px;
    height: 100px;
    cursor: pointer;

    &__content {
        padding: 1px 10px;
        div {
            margin-top: 5px;
        } 

        &-inf {
            color: #c9c8c1;
            font-size: 14px;
        }

        &-first {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            &-second {
                div:first-child {
                    flex: 1 1 auto;
                }
            }
        }
    }
}
