.input-container {
    display: flex;
    flex-direction: column;

    .span-message {
        color: #EE4141;
        font-size: 15px;
        font-weight: normal;
    }

}

.input {
    background: #FFFFFF;
    border: 1px solid #D6DCE9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 6px;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #6879BB;
    outline: none;

    &:hover {
        color: #415FD5;
        outline: #415FD5;
    }

    &:default {
        color: #CCCCCC;
    }

}

